body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

header {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(44, 32, 94) 0%, rgba(27,10,58,1) 44%);
  display: flex;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: white;
  margin-right: 20px;
}

ul.head {
  list-style: none;
  display: flex;
  margin-left: auto;
}

li.dock {
  color: white;
  padding: 10px 15px; 
  transition: background 0.3s; 
  font-size: 30px;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li:hover {
  background: rgba(255, 255, 255, 0.1); 
  cursor: pointer;
}

.image-gallery {
  display: flex; 
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  justify-content: center
}

.image-item {
  margin-right: 20px; 
  text-align: center;
  margin: 50px;
}

.image-item img {
  max-width: 400px; 
  height: 250px; 
  border-radius: 5px; 
}

.image-text {
  margin-top: 20px; 
  color: #333; 
  font-size: 47px;
  font-weight: 500;
}

p {
  text-align: center;
  font-size: 30px;
  color: #2c3e50;
  margin: 10px 0;
  font-weight: 400;
  text-transform: uppercase; 
  margin-top: 40px;
}

ul.table {
  list-style-type: none;
  padding: 0;
  display: flex;
  max-width: 100%;
}


li.table {
  width: 40%;
  padding: 10px;
  margin: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  color: #333;
  padding: px;
  padding-top: 60px;
  font-size: 40px;
  padding-bottom: 20px;
  width: 100%;
}

.table {
  list-style-type: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

ul.table {
  padding: 20px;
  margin: 20px;
}

.highlight {
  font-weight: bold;
  font-size: 2em;
  margin: 20px;
  color: #0f243b;
}

.tab {
  padding: 20px;
}

img.tab {
  width: 70%; 
  height: auto;
  margin: 10px 70px 20px;
  border-radius: 10px;
}

.table-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.table-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
.table-item {
   width: 48%;
   margin-bottom: 20px;
  }

.footer {
  font-size: 25px;
  display: flex;
  max-width: 100%;
  background-color: #2c3e50;
  color: aliceblue;
  padding: 10px;
  align-items: center;
  
}

.footer ul {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.footer li {
  padding-left: 40px;
}

.footer span {
  padding-top: 10px;
  width: 100%; 
  margin: 10px 0;
}

.footer {
    justify-content: space-between;
  }

.footer ul {
    width: 50%;
  }

.footer span {
    width: auto; 
  }

a {
  text-decoration: none;
  color: aliceblue;
}
