body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(44, 32, 94) 0%, rgba(27,10,58,1) 44%);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

h1 {
  font-size: 40px;
  color: white;
  margin-right: 20px;
}

ul.head {
  list-style: none;
  display: flex;
  margin-left: auto;
}

li.dock {
  color: white;
  padding: 10px 15px; 
  transition: background 0.3s; 
  font-size: 30px;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li:hover {
  background: rgba(255, 255, 255, 0.1); 
  cursor: pointer;
}

.image-gallery {
  display: flex; 
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  justify-content: center
}

.image-item {
  margin-right: 20px; 
  text-align: center;
  margin: 50px;
}

.image-item img {
  max-width: 400px; 
  height: 250px; 
  border-radius: 5px; 
}

.image-text {
  margin-top: 20px; 
  color: #333; 
  font-size: 47px;
  font-weight: 500;
}

p {
  text-align: center;
  font-size: 40px;
  color: #2c3e50;
  margin: 30px 0;
  font-weight: 400;
  text-transform: uppercase; 
  margin-top: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.highlight {
  font-weight: bold;
  color: #0f243b;
}

h3 {
  text-align: center;
  color: #333;
  padding: px;
  padding-top: 40px;
  font-size: 60px;
  padding-bottom: 20px;
  width: 100%;
}

.table {
  list-style-type: none;
  margin: 20px 0; /* Внешние отступы по вертикали */
  padding: 20px; /* Убираем внутренние отступы */
  border: 2px solid #ccc; /* Сплошная рамка */
  border-radius: 10px; /* Закругленные углы */
  background-color: #f5f5f5; /* Фоновый цвет */
  display: flex; /* Гибкая компоновка */
  flex-direction: column; /* Вертикальная компоновка */
  align-items: flex-start; /* Выравнивание по левому краю */
  box-sizing: border-box; /* Учитываем отступы и рамки */
}

/* Стили для текста */
.highlight {
  font-weight: bold; /* Жирный текст */
  font-size: 3.5em; /* Увеличенный размер шрифта */
  margin: 20px; /* Внешние отступы */
}

.tab {
  margin: 0 20px 20px;
}

img.tab {
  width: 40%; 
  height: auto; /* Автоматическая высота */
  margin: 10px 20px 20px; /* Внешние отступы */
  border-radius: 10px; 
  position: relative;
  padding-left: 500px;
}

.footer {
  font-size: 25px;
  display: flex;
  max-width: 100%;
  background-color: #2c3e50;
  color: aliceblue;
  padding: 10px;
  align-items: center;
  
}

.footer ul {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.footer li {
  padding-left: 40px;
}

.footer span {
  padding-top: 10px;
  width: 100%; 
  margin: 10px 0;
}

.footer {
    justify-content: space-between;
  }

.footer ul {
    width: 50%;
  }

.footer span {
    width: auto; 
  }

a {
  text-decoration: none;
  color: aliceblue;
}
